<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <% if (error) {%>
  <h3 style="text-align:center"><%= err%></h3>
  <% }%>
  <div class="container">
    <div class="row">
      <div class="form-group">
        <form action="/employees/add" method="POST">
          Name:<br>
          <input type="text" name="name" class="form-control">
          <br> Username:
          <br>
          <input type="text" name="username" class="form-control">
          <br> Password:
          <br>
          <input type="password" name="password" class="form-control">
          <br>
          <input type="submit" value="Register" class="btn btn-primary">
          <button type="button" style="float:right; margin-left: 50px" class="btn btn-primary">
            <a href="/employees" style="color: white; text-decoration:none;">Back</a>
          </button>
        </form>
      </div>
    </div>

  </div>


</body>

</html>
