<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>
    Add Menu
  </title>
</head>

<body>
  <div class="container" >
    <div class="row">
      <div class="form-group">
        <h3 style="text-align:center; text-decoration:underline"> Add New Menu </h3>
        <br>
        <form action="/menu/add" method="POST" >
          Name:<br>
          <input type="text" name="name" class="form-control">
          <br> Price:
          <br>
          <input type="text" name="price" class="form-control">

          <br><br>
          <input type="submit" v/addalue="Add Menu" class="btn btn-primary">
          <button type="button" style="margin-left: 50px" class="btn btn-primary">
            <a href="/menu" style="color: white; text-decoration:none;">Back</a>
          </button>
        </form>
      </div>
    </div>

  </div>


</body>

</html>
