<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="form-group">
        <form action="/menu/add" method="POST">
          name:<br>
          <input type="text" name="name" class="form-control">
          <br> Price:
          <br>
          <input type="text" name="price" class="form-control">
          <br> Ingredient:
          <br>
          <select multiple class="custom-select" >
            <% ingredients.forEach(function(ingredient){ %>
                <option><%= ingredient.name%></option>
            <% })%>
          </select>
          <br><br>
          <input type="submit" value="Add Menu" class="btn btn-primary">
        </form>
      </div>
    </div>

  </div>


</body>

</html>
