<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> List Employee</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
  <h2 align="center">Dashboard</h2>
  <h5 align ="center"> <a href="/employees"> Show Employee </a> </h5>
  <h5 align ="center"> <a href="/menu"> Show Menu </a> </h5>
  </div>
  </body>
</html>
